 <div class="show_nav"><%# 前後のレコードに移動するナビゲーション %>
                
        <% if article.previous.present? %>
        <div class="show_nav_item">
        <%= link_to article_path(article.previous) do %>
        <span><%= cl_image_tag article.previous.photo.tiny, alt: "アイコン" if article.previous.photo.present? %></span>
        <%= article.previous.title %>
        <% end %></div>
        <% end %>
        
        <% if article.next.present? %>
        <div class="show_nav_item">
        <%= link_to article_path(article.next) do %>
        <span><%= cl_image_tag article.next.photo.tiny, alt: "アイコン" if article.next.photo.present? %></span>
        <%= article.next.title %>
        <% end %></div>
        <% end %>
                
        </div><%# show_nav %>
        
        
        <% if article.tag_id.present? %>
        
        <%= link_to tag_path(article.tag), class: "ttr_tag" do %>
        <%= article.tag.name %>
        <% end %>
        
        <div class="show_nav tag"><%# 同じタグに属する前後のレコードに移動するナビゲーション %>
                
        <% if article.prev_tag.present? %>
        <div class="show_nav_item">
        <%= link_to article_path(article.prev_tag) do %>
        <span><%= cl_image_tag article.prev_tag.photo.tiny, alt: "アイコン" if article.prev_tag.photo.present? %></span>
        <%= article.prev_tag.title %>
        <% end %></div>
        <% end %>
        
        <% if article.next_tag.present? %>
        <div class="show_nav_item">
        <%= link_to article_path(article.next_tag) do %>
        <span><%= cl_image_tag article.next_tag.photo.tiny, alt: "アイコン" if article.next_tag.photo.present? %></span>
        <%= article.next_tag.title %>
        <% end %></div>
        <% end %>
        </div>
        <% end %><%# タグ投稿ナビゲーション終了 %>
            