<% content_for :title do %>
<%= @user.prof.pagetitle %>
<% end %>

<% content_for :css do %>
<%= stylesheet_link_tag 'index' %>
<% end %>

<div class="index_wrapper">

 <ul class="pan">
  <li><%= link_to "#{@user.prof.pagetitle}", me_path(@user) %></li>
  <li><%= @user.prof.name %>の文章投稿一覧</li>
 </ul>
 
 
<% if @user.articles.present? %>
<div class="item_index_container">
<%= render partial: 'article', collection: @articles, as: "article" %>
</div>
<%= paginate @articles %>
<% else %>
<p>投稿が一件もありません。</p>
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to "投稿する", new_article_path, class: "a_line" %>
<% end %>
<% end %>
</div>
