<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<%= link_to 'New Article', new_article_path %>
<hr>

    <% @articles.each do |article| %>
        <%= article.title %>
        <%= article.body %>
        <%= article.tag %>
      <%= link_to 'Show', article %></td>
    <% end %>


