<%= stylesheet_link_tag 'show_article' %>

<div class="article_container">
        
     <div class="photo_area">
       <% if @article.photo.present? %>
         <%= image_tag @article.photo.url %>
         <% end %>
        </div>
        
        <div class="body_area">
          <p><%= @article.body %></p>
        </div>
        
        <div class="article_data">
            <h2><%= @article.title %></h2>
            <time><%= @article.created_at.strftime("%Y-%m-%d") %></time>
            <hr>
            
            <%= link_to 'Edit', edit_article_path(@article) %> 
            <%= link_to 'Back', articles_path %>
            <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
            
        <div class="show_nav"><%# 前後のレコードに移動するナビゲーション %>
                
        <% if @article.previous.present? %>
        <div class="show_nav_item">
        <%= link_to article_path(@article.previous) do %>
        <span>
         <% if @article.previous.photo.present? %>
         <%= image_tag @article.previous.photo.resize1.url %>
         <% end %>
         </span>
        <%= @article.previous.title %>
        <% end %></div>
        <% end %>
        
        <% if @article.next.present? %>
        <div class="show_nav_item">
        <%= link_to article_path(@article.next) do %>
        <span>
         <% if @article.next.photo.present? %>
         <%= image_tag @article.next.photo.resize1.url %>
         <% end %>
        </span>
        <%= @article.next.title %>
        <% end %></div>
        <% end %>
                
        </div><%# show_nav %>
        
        <hr>
        
        <% if @article.tag_id.present? %>
        
        <h3 class="h3_show_tag">
        <%= link_to tag_path(@article.tag) do %>
        <%= @article.tag.name %>
        <% end %>
        </h3>
        
        <div class="show_nav"><%# 同じタグに属する前後のレコードに移動するナビゲーション %>
                
        <% if @article.prev_tag.present? %>
        <div class="show_nav_item">
        <%= link_to article_path(@article.prev_tag) do %>
        <span>
         <% if @article.prev_tag.photo.present? %>
         <%= image_tag @article.prev_tag.photo.resize1.url %>
         <% end %>
         </span>
        <%= @article.prev_tag.title %>
        <% end %></div>
        <% end %>
        
        <% if @article.next_tag.present? %>
        <div class="show_nav_item">
        <%= link_to article_path(@article.next_tag) do %>
        <span>
         <% if @article.next_tag.photo.present? %>
         <%= image_tag @article.next_tag.photo.resize1.url %>
         <% end %>
        </span>
        <%= @article.next_tag.title %>
        <% end %></div>
        <% end %>
        </div>
        <% end %><%# タグ投稿ナビゲーション終了 %>
            
        </div><%# article_data %>
        
    </div>
