<%= stylesheet_link_tag 'show_article' %>

<div class="article_container">
        
     <div class="photo_area">
       <% if @article.photo.present? %>
         <%= image_tag @article.photo.url, alt: "イメージ画像" %>
         <% end %>
        </div>
        
        <div class="body_area">
          <p><%= safe_join(@article.body.split("\n"),tag(:br)) %></p>
        </div>
        
        <div class="article_data">
            <h2><%= @article.title %></h2>
            <p>ユーザー名：<%= @article.user.prof.name %></p>
            <time><%= @article.created_at.strftime("%Y-%m-%d") %></time>
            <hr>
            
            <%= link_to 'Edit', edit_article_path(@article) %> 
            <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
            
            <%= render partial: 'show_nav', locals: { article: @article } %>
            
        </div><%# article_data %>
        
    </div>
