<% content_for :css do %>
<%= stylesheet_link_tag 'show_article' %>
<% end %>

<div class="article_container">
        
     <div class="photo_area">
       <% if @article.photo.present? %>
         <%= image_tag @article.photo.url, alt: "イメージ画像" %>
         <% end %>
        </div>
        
        <div class="body_area">
          <p><%= safe_join(@article.body.split("\n"),tag(:br)) %></p>
        </div>
        
        <div class="article_data">
            <span class="title"><%= @article.title %></span>
            <time><%= @article.created_at.strftime("%Y-%m-%d") %></time>
        </div><%# article_data %>

    <div class="show_user_nav">
        <div class="show_avator">
            <% if @article.user.prof.avator.present? %>
            <%= link_to me_path(@article.user.id) do %>
            <%= image_tag @article.user.prof.avator.url %>
            <% end %>
            <% end %>
        </div>
        <div class="right">
        <%= link_to me_path(@article.user.id), class: "pagetitle" do %>
        <span><%= @article.user.prof.pagetitle %></span>
        <% end %>
        <span class="username"><%= @article.user.prof.name %></span>
            <div class="link_box">
            <%= link_to "back" , her_articles_path(@article.user.id), class: "back" %>
            <% if user_signed_in? && current_user.id == @article.user_id %>
            <%= link_to "edit", edit_article_path(@article), class: "edit"%>
            <% end %>
            </div>
        </div>
    </div>
            
            <%= render partial: 'show_nav', locals: { article: @article } %>
        
    </div>
