<h2>ユーザー情報の変更</h2>

<%= form_with model: @user, url: users_mypage_path, local: true, method: :put do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :password, "新しいパスワード" %> <i>(パスワードを変更しない場合、空欄にして下さい)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "新しいパスワードの確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "現在のパスワード" %> <i>(確認のため、変更前のパスワードをご入力ください)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>アカウントの削除</h3>

<p><%= button_to "アカウントを削除する", user_registration_path, data: { confirm: "本当に削除してよろしいですか？" }, method: :delete %></p>

<%= link_to "Back", :back %>