<% content_for :css do %>
<%= stylesheet_link_tag 'me' %>
<% end %>

<div class="me_container">
        
<div class="side">
        
    <div class="header_area"><%= image_tag @user.prof.headerimage.url, alt: "ヘッダー画像" if @user.prof.headerimage.present? %></div>
    
    <div class="prof_z">
      <div class="prof_box">
         <div class="main_avator"><%= image_tag @user.prof.avator.url, alt: "ユーザーアイコン" if @user.prof.avator.present? %></div>
           <div class="user_info">
             <span class="pagetitle"><%= @user.prof.pagetitle %></span>
             <span class="user_name"><%= @user.prof.name %></span>
             <p class="prof_text"><%= safe_join(@user.prof.profile.split("\n"),tag(:br)) %></p>
          </div>
       </div>
   </div>
    
    <ul class="side_menu">
    <li><%= link_to "画像投稿一覧", her_posts_path(@user) %></li>
    <li><%= link_to "文章投稿一覧", her_articles_path(@user) %></li>
    <li><%= link_to "タグ一覧", her_tags_path(@user) %></li>
    </ul>
        
</div>
        
        <div class="main">

        <% if @user.posts.present? %>
        <h2>posts</h2>
        <div class="item_index_container">
         <%= render partial: 'posts/post', collection: @user.posts.limit(6).order('id DESC'), as: "post" %>
        </div>
        <% end %>
        
        <% if @user.articles.present? %>
        <h2>articles</h2>
        <div class="item_index_container">
         <%= render partial: 'articles/article', collection: @user.articles.limit(6).order('id DESC'), as: "article" %>
        </div>
        <% end %>
        
        </div>
</div>
