<% content_for :css do %>
<%= stylesheet_link_tag 'form' %>
<% end %>

<!--login-->

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", required: "required", label: "メールアドレス" %>
          <% if alert %>
          <span>
            <strong>メールアドレスが正しくない可能性があります。</strong>
          </span>
          <% end %>
  </div>

  <div class="field">

    <%= f.password_field :password, autofocus: "true", autocomplete: "current-password", placeholder: "パスワード", label: "パスワード" %>
          <% if alert %>
          <span>
            <strong>パスワードが正しくない可能性があります。</strong>
          </span>
          <% end %>
  </div>

<div class="field">
  <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me, label: "次回から自動でログイン" %>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>

<% end %>




