<div class="center_wrapper howto">
<h2>Dsplayの使い方</h2>

<p>Dsplayの基本的な使い方や機能の紹介を行っています。<br>
ご不明な点がありましたら、本ページの各項目をご参照ください。</p>

<p>※各画面は開発中のものであり、今後変更が加えられる場合があります。</p>
<p>※説明に使用している画像はPC表示の場合であり、他のデバイスから見た場合、デザインなどが異なる場合があります。</p>

<ul>
    <li><a href="#signup">新規登録からログインまで</a></li>
    <li>登録情報の変更</li>
    <li>プロフィール編集</li>
    <li>ユーザーページ</li>
    <li>画像投稿</li>
    <li>文章投稿</li>
    <li>タグ作成</li>
</ul>

<hr>

<h3 id="signup">新規登録からログインまで</h3>

<%= image_tag 'howto/signup/1.jpg' %>
<%= image_tag 'howto/signup/2.jpg' %>
<p>新規登録フォームから必要事項を入力し、アカウント作成（仮登録）ボタンを押します。</p>

<%= image_tag 'howto/signup/3.jpg' %>
<p>登録申請完了画面にてご本人確認のメール送信のメッセージが表示されますので、ご利用のメールサービスにてメールをご確認ください。</p>

<%= image_tag 'howto/signup/4.jpg' %>
<p>メール内の「メールアドレス確認」というテキストリンクを押して、アカウントの有効化を完了してください。<br>
※送信元アドレスおよびお問合せ先情報などは、変更される場合があります。</p>

<%= image_tag 'howto/signup/5.jpg' %>
<p>メール内のリンクへアクセスすると、ご本人確認完了のメッセージが表示されますので、<br>ログイン画面からメールアドレスとパスワードを入力し、ログインしてください。</p>

<%= image_tag 'howto/signup/x.jpg' %>
<p>ログイン完了後、ページ上部のヘッダーの右側にユーザー作品ページとマイページへのリンクが表示されるようになります。</p>

<%= image_tag 'howto/my_page/1.jpg' %>
<p>マイページへのリンク（家のアイコン）を押すと、各種メニューボタンが表示されます。<br>
新規投稿や設定変更はこちらから行ってください。</p>

<hr>

<h3>プロフィール編集</h3>
<%= image_tag 'howto/prof/1.jpg' %>
<p>マイページの「プロフィール」ボタンから、プロフィール編集画面へ移動します。<br>
ユーザー名、プロフィール文、ユーザーページタイトルには<br>デフォルト設定がされているので、必要に応じて変更を行ってください。
</p>

<%= image_tag 'howto/prof/2.jpg' %>
<p>ユーザーアイコンとヘッダー画像を設定する場合、<br>
各フォームから「ファイルを選択」を押して、設定したい画像を選んでください。<br>
画像を添付すると、画像のファイル名が表示されるので、確認後、「変更を保存する」を押します。
</p>

<%= image_tag 'howto/prof/3.jpg' %>
<p>変更後、ユーザー作品画面から画像が設定されたのをご確認ください。<br>
※アップロードしたプロフィール画像は、APIにより自動的にトリミングや背景色の処理が行われるため、元画像とは若干異なることを予めご了承ください。
</p>

<%= image_tag 'howto/prof/5.jpg' %>
<p>
    画像の変更を行う場合、各フォームから「ファイルを選択」を押して、設定したい画像を選び、保存してください。<br>
    ※変更ではなく削除（デフォルトの状態に戻す）を行う場合、画像の下のチェックボックスにチェックを入れて保存してください。
</p>

<hr>

<h3>登録情報の変更</h3>

<p>パスワードやメールアドレスの変更、アカウントの削除を行う場合、<br>
マイページの「登録情報の変更」ボタンから、編集画面に移動します。</p>

<%= image_tag 'howto/user_edit/1.jpg' %>
<%= image_tag 'howto/user_edit/2.jpg' %>

<h4>メールアドレスの変更</h4>
<p>メールアドレスの変更を行う場合、「メールアドレスの変更」フォームに新しいアドレスを入力した後、
「現在のパスワード」フォームに現在のパスワードを入力し、送信ボタンを押してください。<br>
送信後、新しいメールアドレス有効化のための認証メールが送られますので、ご確認ください。
</p>

<h4>パスワードの変更</h4>
<p>フォームに新しいパスワードを入力してください。<br>
「メールアドレスの変更」フォームには現在のパスワードを入力し、
「現在のパスワード」フォームに現在のパスワードを入力したら送信ボタンを押してください。<br>
メールアドレス変更とは違い、メールでの認証は不要なので、その場で変更が適用されます。
</p>

<h4>アカウントの削除</h4>
<P>ページ下部のアカウント削除ボタンを押して、確認フォームから削除を完了してください。</P>

</div>