<div class="center_wrapper howto">
<h2>Dsplayの使い方</h2>

<p>Dsplayの基本的な使い方や機能の紹介を行っています。<br>
ご不明な点がありましたら、本ページの各項目をご参照いただくか、
専用窓口までお問合せ下さいますようお願いします。
</p>

<p><strong>※各画面は開発中のものであり、今後変更が加えられる場合があります。</strong></p>
<p>※説明に使用している画像はPC表示の場合であり、他のデバイスから見た場合、デザインなどが異なる場合があります。</p>

<ul class="contents">
    <li><a href="#signup">新規登録からログインまで</a></li>
    <li><a href="#prof">プロフィール編集</a></li>
    <li><a href="#user_edit">登録情報の変更</a></li>
    <li><a href="#userpage">ユーザーページ</a></li>
    <li><a href="#img">画像投稿</a></li>
    <li><a href="#txt">文章投稿</a></li>
    <li><a href="#tag">タグ作成</a></li>
</ul>


<h3 id="signup">新規登録からログインまで</h3>

<%= image_tag 'howto/signup/1.jpg', alt: "紹介用画像" %>
<%= image_tag 'howto/signup/2.jpg', alt: "紹介用画像" %>
<p>新規登録フォームから必要事項を入力し、アカウント作成（仮登録）ボタンを押します。</p>

<%= image_tag 'howto/signup/3.jpg', alt: "紹介用画像" %>
<p>登録申請完了画面にてご本人確認のメール送信のメッセージが表示されますので、ご利用のメールサービスにてメールをご確認ください。</p>

<%= image_tag 'howto/signup/4.jpg', alt: "紹介用画像" %>
<p>メール内の「メールアドレス確認」というテキストリンクを押して、アカウントの有効化を完了してください。<br>
※送信元アドレスおよびお問合せ先情報などは、変更される場合があります。</p>

<%= image_tag 'howto/signup/5.jpg', alt: "紹介用画像" %>
<p>メール内のリンクへアクセスすると、ご本人確認完了のメッセージが表示されますので、<br>ログイン画面からメールアドレスとパスワードを入力し、ログインしてください。</p>

<%= image_tag 'howto/signup/x.jpg', alt: "紹介用画像" %>
<p>ログイン完了後、ページ上部のヘッダーの右側にユーザー作品ページとマイページへのリンクが表示されるようになります。</p>

<%= image_tag 'howto/my_page/1.jpg', alt: "紹介用画像" %>
<p>マイページへのリンク（家のアイコン）を押すと、各種メニューボタンが表示されます。<br>
新規投稿や設定変更はこちらから行ってください。</p>

<hr>

<h3 id="prof">プロフィール編集</h3>
<%= image_tag 'howto/prof/1.jpg', alt: "紹介用画像" %>
<p>マイページの「プロフィール」ボタンから、プロフィール編集画面へ移動します。<br>
ユーザー名、プロフィール文、ユーザーページタイトルには<br>デフォルト設定がされているので、必要に応じて変更を行ってください。
</p>

<h4>プロフィール画像の設定</h4>
<%= image_tag 'howto/prof/2.jpg', alt: "紹介用画像" %>
<p>ユーザーアイコンとヘッダー画像を設定する場合、<br>
各フォームから「ファイルを選択」を押して、設定したい画像を選んでください。<br>
画像を添付すると、画像のファイル名が表示されるので、確認後、「変更を保存する」を押します。
</p>

<%= image_tag 'howto/prof/3.jpg', alt: "紹介用画像" %>
<p>変更後、ユーザー作品画面から画像が設定されたのをご確認ください。<br>
※アップロードしたプロフィール画像は、APIにより自動的にトリミングや背景色の処理が行われるため、元画像とは若干異なることを予めご了承ください。
</p>

<%= image_tag 'howto/prof/5.jpg', alt: "紹介用画像" %>
<p>
    画像の変更を行う場合、各フォームから「ファイルを選択」を押して、設定したい画像を選び、保存してください。<br>
    ※変更ではなく削除（デフォルトの状態に戻す）を行う場合、画像の下のチェックボックスにチェックを入れて保存してください。
</p>

<hr>

<h3 id="user_edit">登録情報の変更</h3>

<p>パスワードやメールアドレスの変更、アカウントの削除を行う場合、<br>
マイページの「登録情報の変更」ボタンから、編集画面に移動します。</p>

<%= image_tag 'howto/user_edit/1.jpg', alt: "紹介用画像" %>
<%= image_tag 'howto/user_edit/2.jpg', alt: "紹介用画像" %>

<h4>メールアドレスの変更</h4>
<p>メールアドレスの変更を行う場合、「メールアドレスの変更」フォームに新しいアドレスを入力した後、
「現在のパスワード」フォームに現在のパスワードを入力し、送信ボタンを押してください。<br>
送信後、新しいメールアドレス有効化のための認証メールが送られますので、ご確認ください。
</p>

<h4>パスワードの変更</h4>
<p>フォームに新しいパスワードを入力してください。<br>
「メールアドレスの変更」フォームには現在のパスワードを入力し、
「現在のパスワード」フォームに現在のパスワードを入力したら送信ボタンを押してください。<br>
メールアドレス変更とは違い、メールでの認証は不要なので、その場で変更が適用されます。
</p>

<h4>アカウントの削除</h4>
<P>ページ下部のアカウント削除ボタンを押して、確認フォームから削除を完了してください。</P>

<hr>

<h3 id="userpage">ユーザーページ</h3>
<%= image_tag 'howto/userpage/1.jpg', alt: "紹介用画像" %>

<p>ヘッダー右側のアイコンや作品詳細ページにあるユーザーページへのリンクを押すと、ユーザーごとの個別ページが表示されます。<br>
プロフィールが未編集で投稿作品も存在しないデフォルト状態だと、上の画像のような表示になります。
</p>

<%= image_tag 'howto/userpage/2.jpg', alt: "紹介用画像" %>

<p>
    画像や文章の投稿を行うと、上の画像のように作品の詳細ページへのサムネイルが表示されます。
    画像、文章投稿ともに最新の投稿が最大6件まで表示されます。
</p>

<hr>

<h3 id="img">画像投稿</h3>

<%= image_tag 'howto/new_img/1.jpg', alt: "紹介用画像" %>
<p>マイページの「画像投稿」ボタンから、新規投稿フォームへ移動します。<br>米印（※）のついたフォームは入力必須項目となっています。</p>

<%= image_tag 'howto/new_img/2.jpg', alt: "紹介用画像" %>
<p>「ファイルを選択」を押してアップロードしたい画像を選択し、ファイル名を確認した後、「投稿する」ボタンを押します。<br>
※アップロードできる画像形式はjpgとpngのみとなっています。
</p>

<h4>アイコン画像のトリミング</h4>
<%= image_tag 'howto/new_img/3.jpg', alt: "紹介用画像" %>
<%= image_tag 'howto/new_img/4.jpg', alt: "紹介用画像" %>
<p>「投稿する」ボタンを押すと投稿内容が保存され、次にアイコン用画像のトリミング画面に移動します。<br>
トリミングした画像はタグ一覧のサムネイル画面などで使用されます。</p>

<h4>トリミング機能を利用できない環境の場合</h4>
<p>トリミング機能はPC（マウス操作）向けの機能のため、
スマートフォンなどのタッチデバイスからだと、トリミング枠を動かせず、正常に操作できない場合があります。<br>
その場合、「トリミングをスキップする」を押すと自動的にトリミングされたアイコンが生成され、保存されます。</p>

<h4>トリミング操作について</h4>
<p>
    トリミング処理を行う場合、画像の中の点線の枠線上の小さい四角をマウスでクリック、ドラッグで拡大させることでトリミング範囲を変更できます。<br>
    点線の枠の中央部分をクリックし、ドラッグをすることで枠を移動させることもできるので、切り取りたい位置に合わせて操作してください。<br>
    ※枠のサイズを縮小しすぎると生成後の画像がぼやける場合があるのでご注意ください。
</p>

<p>ページ下部のプレビュー画像を確認し、トリミング位置が決まったら、「アイコンを作成する」ボタンを押してください。</p>


<%= image_tag 'howto/new_img/5.jpg', alt: "紹介用画像" %>
<p>投稿が完了すると、その投稿の詳細ページが表示されます。</p>

<%= image_tag 'howto/new_img/6.jpg', alt: "紹介用画像" %>
<p>画像部分を押すと、画像が拡大表示されます。<br>
※アップロード画像は一定のサイズを超えると自動的に縮小されますので、元の画像サイズと異なる場合があります。
</p>

<h4>投稿の編集</h4>
<%= image_tag 'howto/new_img/7.jpg', alt: "紹介用画像" %>
<p>作品詳細ページの「編集」アイコンを押して、編集画面に移動します。<br>
編集アイコンは作品の投稿者であるログインユーザーがページを閲覧した時のみ表示されます。
</p>
<p>
    ※画像投稿のアップロード画像は変更することができません。<br>
    画像を差し替えたい場合、既存の投稿を削除して、新しく投稿を作成してください。
</p>

<h4>詳細ページのナビゲーション</h4>
<%= image_tag 'howto/new_img/8.jpg', alt: "紹介用画像" %>
<p>同じ投稿者の他の作品が存在する場合、前後の投稿に移動するナビゲーションが表示されます。
左側のアイコンが前の投稿、右側のアイコンが新しい投稿へのリンクとなっています。
</p>

<p>文章投稿の詳細ページでも同じようにナビゲーションが表示されますが、
それぞれ同じ種類（画像なら画像投稿のみ、文章なら文章投稿のみ）の前後の投稿だけがピックアップされます。</p>

<h4>投稿のタグについて</h4>
<p>投稿にタグがつけられている場合、上の画像の「サンプルタグ」のように、タグ名が表示されます。<br>
タグ名の部分を押すと、そのタグの詳細ページに移動します。
</p>

<p>同じタグをつけられた同じ種類の投稿がある場合、上のナビゲーションと同じように前後の投稿への移動アイコンが表示されます。</p>

<h4>投稿の削除</h4>
<%= image_tag 'howto/new_img/9.jpg', alt: "紹介用画像" %>
<p>
    投稿編集画面の「この投稿を削除」ボタンを押して投稿を削除できます。
    文章投稿も同様の方法で削除を行います。
</p>

<h4>タグの設定</h4>
<p>投稿編集画面の「タグの設定」フォームを押すと、作成済みのタグが表示されますので、投稿に設定したいタグを選択し、保存してください。<br>
タグはデフォルトでは未選択となっています。
設定したタグの解除を行いたい場合、先頭の空白行を選択して保存してください。<br>
文章投稿でも、同様の方法でタグの設定が行えます。</p>

<hr>

<h3 id="txt">文章投稿</h3>

<%= image_tag 'howto/new_txt/1.jpg', alt: "紹介用画像" %>
<p>マイページの「文章投稿」ボタンから、投稿画面へ移動します。</p>

<%= image_tag 'howto/new_txt/2.jpg', alt: "紹介用画像" %>
<p>「投稿する」ボタンを押すと、投稿の詳細ページが表示されます。</p>

<h4>投稿編集・画像の添付</h4>
<%= image_tag 'howto/new_txt/3.jpg', alt: "紹介用画像" %>
<p>投稿詳細ページにある「編集」アイコンを押すと、投稿の編集画面が表示されます。<br>
編集画面ではイメージ画像の設定ができますので、任意で好きな画像をアップロードできます。<br>
※新規投稿画面では画像の添付はできません。
</p>

<%= image_tag 'howto/new_txt/4.jpg', alt: "紹介用画像" %>
<p>「ファイルを選択」を押し、添付したい画像を選びます。
画像のファイル名を確認し、「投稿する」ボタンを押して保存してください。
</p>

<%= image_tag 'howto/new_txt/5.jpg', alt: "紹介用画像" %>
<p>文章投稿に画像を添付すると、詳細ページのヘッダー部分が、アップロードした画像に置き換えられます。
投稿一覧ページのサムネイルでも、添付画像が使用されます。
</p>

<%= image_tag 'howto/new_txt/6.jpg', alt: "紹介用画像" %>
<p>画像の削除（デフォルト状態に戻す）を行う場合、編集画面の画像削除用のチェックボックスにチェックを入れて、保存してください。<br>
削除ではなく画像の変更を行いたい場合は、チェックは入れずに「ファイルを選択」フォームから新しい画像を選んで保存します。
</p>

<h4>投稿の削除</h4>
<p>画像投稿と同様に、編集ページ下部の「投稿を削除する」ボタンを押して投稿の削除を行います。</p>

<hr>

<h3 id="tag">タグの作成</h3>

<%= image_tag 'howto/new_tag/1.jpg', alt: "紹介用画像" %>
<p>マイページの「タグ作成」ボタンから、新規作成フォームへ移動します。<br>
タグ名と、任意でタグの説明文を入力し、送信ボタンを押して保存してください。
</p>

<%= image_tag 'howto/new_tag/2.jpg', alt: "紹介用画像" %>
<p>タグを作成すると、一覧ページにタグが追加されていきます。
投稿がひとつも関連付けられていない状態だと、上の画像のように表示されます。
</p>

<%= image_tag 'howto/new_tag/4.jpg', alt: "紹介用画像" %>
<p>投稿を関連付けると、その投稿のサムネイルが表示されます。<br>
サムネイルのリンクから、その投稿の詳細ページへ遷移できます。<br>
タグ一覧画面では、画像投稿と小説投稿がそれぞれ最新12件まで表示されます。
</p>

<%= image_tag 'howto/new_tag/3.jpg', alt: "紹介用画像" %>
<p>タグ一覧の「詳細を見る」を押すと、タグの詳細ページへ移動します。<br>
詳細ページではタグの説明文や、画像投稿一覧や文章投稿一覧の画面と同様の形式のサムネイルが表示されます。
</p>

<p>「○○（ユーザー名）のタグ一覧へ」ボタンを押すと、そのタグを作成したユーザーのタグ一覧ページへと戻ります。</p>

<p>タグの削除やタグの情報を編集したい場合、「タグの編集」ボタンを押して編集フォームから設定を行ってください。</p>

</div>