<div class="center_wrapper howto">
<h2>Dsplayの使い方</h2>

<p><em>このページでは、Dsplayの基本的な使い方や各機能のご説明を行っています。</em><br>
ご不明な点がありましたら、本ページの各項目をご参照いただくか、
<%= link_to "専用窓口", contact_path, class: "a_txt" %>までお問合せください。
</p>

<p><strong>※各画面は開発中のものであり、今後変更が加えられる場合があります。</strong></p>
<p>※説明に使用している画像はPC表示の場合であり、他のデバイスから閲覧した場合、デザインなどが異なる場合があります。</p>

<ul class="contents">
    <li><%= link_to "新規登録からログインまで", {anchor: "signup"} %></li>
      <ol>
        <li><%= link_to "仮登録～アカウント有効化", {anchor: "verify"} %></li>
        <li><%= link_to "確認メールが届かない場合", {anchor: "mail_rescue"} %></li>
        <li><%= link_to "マイページ", {anchor: "my_page"} %></li>
      </ol>
    <li><%= link_to "プロフィール編集", {anchor: "prof"} %></li>
      <ol>
        <li><%= link_to "プロフィール画像の設定", {anchor: "prof_image"} %></li>
      </ol>
    <li><%= link_to "登録情報の変更", {anchor: "user_edit"} %></li>
      <ol>
        <li><%= link_to "メールアドレス変更", {anchor: "email"} %></li>
        <li><%= link_to "パスワード変更", {anchor: "pass"} %></li>
        <li><%= link_to "アカウント削除", {anchor: "delete_user"} %></li>
      </ol>
    <li><%= link_to "ユーザーページ", {anchor: "userpage"} %></li>
    <li><%= link_to "画像投稿", {anchor: "img"} %></li>
      <ol>
        <li><%= link_to "トリミング機能", {anchor: "trim"} %></li>
        <li><%= link_to "投稿の詳細ページ", {anchor: "post_page"} %></li>
        <li><%= link_to "投稿の編集", {anchor: "post_edit"} %></li>
        <li><%= link_to "前後の投稿へのナビゲーション", {anchor: "post_nav"} %></li>
        <li><%= link_to "投稿のタグについて", {anchor: "showpage_tag"} %></li>
        <li><%= link_to "タグの設定", {anchor: "post_tag"} %></li>
        <li><%= link_to "投稿の削除", {anchor: "post_destroy"} %></li>
      </ol>
    <li><%= link_to "文章投稿", {anchor: "txt"} %></li>
      <ol>
        <li><%= link_to "投稿編集・イメージ画像の設定", {anchor: "article_edit"} %></li>
        <li><%= link_to "イメージ画像の編集・削除", {anchor: "photo_edit"} %></li>
        <li><%= link_to "タグの設定", {anchor: "article_tag"} %></li>
        <li><%= link_to "投稿の削除", {anchor: "article_destroy"} %></li>
      </ol>
    <li><%= link_to "タグ作成", {anchor: "tag"} %></li>
      <ol>
        <li><%= link_to "タグ一覧ページ", {anchor: "tag_index"} %></li>
        <li><%= link_to "タグ詳細ページ", {anchor: "tag_page"} %></li>
        <li><%= link_to "タグの編集・削除", {anchor: "tag_setting"} %></li>
      </ol>
    <li><%= link_to "ユーザー一覧ページ", {anchor: "users_index"} %></li>
</ul>

<hr>

<h3 id="signup">新規登録からログインまで</h3>

<h4 id="verify">仮登録～アカウント有効化</h4>

<%= image_tag 'howto/signup/1.png', alt: "紹介用画像" %>
<%= image_tag 'howto/signup/2.png', alt: "紹介用画像" %>
<p><%= link_to "新規登録ページ", signup_path, class: "a_txt" %>からアカウント作成（仮登録）の手続きを行います。<br>
<b>メールアドレス</b>と<b>パスワード</b>は、「Dsplay」へのログインの際に必要になりますので、各フォームへ任意のアドレスとパスワードを入力してください。</p>

<p>必要事項の入力が完了し、「ご利用規約とプライバシーポリシーへの同意」のチェックボックスにチェックを入れたら、「アカウント作成（仮登録）」ボタンを押します。</p>

<%= image_tag 'howto/signup/3.png', alt: "紹介用画像" %>
<p>登録申請完了画面にてご本人確認のメール送信のメッセージが表示されますので、ご利用のメールサービスにてメールをご確認ください。</p>

<%= image_tag 'howto/signup/4.png', alt: "紹介用画像" %>
<p>メール内の「メールアドレス確認」というテキストリンクを押して、アカウントの有効化を完了してください。<br>
<em>この時点で本登録完了となり、作品投稿などの会員機能を利用することができます。</em><br>
<strong>メールによる認証が完了するまでは仮登録状態となり、ログインができませんのでご注意ください。</strong>
</p>

<p>※送信元アドレスおよびメール内に記載のお問合せ先情報などは、変更される場合があります。</p>

<h4 id="mail_rescue">メールが届かない場合</h4>

<p>迷惑メールとして振り分けられている可能性があります。<br>
ご利用のメールサービスの該当フォルダのご確認をお願いします。
</p>

<p>「<b>mail@dsplay.icu</b>」からのメールの受信許可設定を行ってください。</p>

<h4>ご本人確認メールの再送</h4>

<p>迷惑メールフォルダを確認してもメールが届いていない…という場合、
他の何らかの不具合（送信元メーラーのバグなど）が原因と考えられます。</p>
<p>
お手数ですが、<em>ご登録時に入力されたメールアドレスを明記の上、お問い合わせフォームよりメールの再送申請を行ってください。</em><br>
再度こちらから認証メールを送信させていただきます。
</p>

<%= image_tag 'howto/signup/5.png', alt: "紹介用画像" %>
<p>メール内のリンクへアクセスすると、ご本人確認完了のメッセージが表示されますので、<br>ログイン画面からメールアドレスとパスワードを入力し、ログインしてください。</p>

<%= image_tag 'howto/signup/x.png', alt: "紹介用画像" %>
<p>ログイン完了後、ページ上部のヘッダーの右側にユーザー作品ページとマイページへのリンクが表示されるようになります。</p>

<h4 id="my_page">マイページ</h4>

<%= image_tag 'howto/my_page/1.png', alt: "紹介用画像" %>
<p>マイページへのリンク（家のアイコン）を押すと、各種メニューが表示されます。<br>
<b>新規投稿</b>や<b>設定変更</b>はこちらから行ってください。</p>

<hr>

<h3 id="prof">プロフィール編集</h3>
<%= image_tag 'howto/prof/1.png', alt: "紹介用画像" %>
<p>マイページの「プロフィール」ボタンから、プロフィール編集画面へ移動します。<br>
ユーザー名、プロフィール文、ユーザーページタイトルにはデフォルト値が入力されているので、必要に応じて変更を行ってください。
</p>

<h4 id="prof_image">プロフィール画像の設定</h4>
<%= image_tag 'howto/prof/2.png', alt: "紹介用画像" %>
<p>ユーザーアイコンとヘッダー画像を設定する場合、
各フォームから「ファイルを選択」を押して、設定したい画像を選んでください。<br>
画像を選択すると、画像のファイル名が表示されるので、確認後、「変更を保存する」を押します。
</p>

<%= image_tag 'howto/prof/3.png', alt: "紹介用画像" %>
<p>変更後、ユーザーページから画像が設定されたことをご確認ください。<br>
<em>※アップロードしたプロフィール画像は、APIにより自動的にトリミングや背景色の処理が行われるため、元画像とは若干異なることを予めご了承ください。</em>
</p>

<%= image_tag 'howto/prof/4.png', alt: "紹介用画像" %>
<p>
    画像の変更を行う場合、各フォームから「ファイルを選択」を押して、設定したい画像を選び、保存してください。<br>
    <em>※変更ではなく削除（デフォルトの状態に戻す）を行う場合、画像の下の削除用チェックボックスにチェックを入れて保存してください。</em>
</p>

<p><strong>※画像の変更を行う際には削除用のチェックボックスにチェックを入れる必要はありません。</strong></p>

<hr>

<h3 id="user_edit">登録情報の変更</h3>

<p>パスワードやメールアドレスの変更、アカウントの削除を行う場合、<br>
マイページの「登録情報の変更」ボタンから、編集画面に移動します。</p>

<%= image_tag 'howto/user_edit/1.png', alt: "紹介用画像" %>
<%= image_tag 'howto/user_edit/2.png', alt: "紹介用画像" %>

<h4 id="email">メールアドレスの変更</h4>
<p>メールアドレスの変更を行う場合、「メールアドレスの変更」フォームに新しいアドレスを入力した後、
「現在のパスワード」フォームに現在のパスワードを入力し、送信ボタンを押してください。<br>
<strong>送信後、新しいメールアドレス有効化のための認証メールが送られますので、ご確認ください。</strong>
</p>

<h4 id="pass">パスワードの変更</h4>
<p>フォームに新しいパスワードを入力してください。<br>
「メールアドレスの変更」フォームには現在登録しているメールアドレスを入力し、
「現在のパスワード」フォームに現在のパスワードを入力したら送信ボタンを押してください。<br>
メールアドレス変更とは違い、メールでの認証は不要なので、その場で変更が適用されます。
</p>

<h4 id="delete_user">アカウントの削除</h4>
<P>ページ下部のアカウント削除ボタンを押して、確認フォームから削除を完了してください。</P>

<hr>

<h3 id="userpage">ユーザーページ</h3>
<%= image_tag 'howto/userpage/1.png', alt: "紹介用画像" %>

<p>ヘッダー右側のアイコンや作品詳細ページにあるユーザーページへのリンクを押すと、ユーザーごとの個別のメインページが表示されます。<br>
プロフィールが未編集で投稿作品も存在しないデフォルト状態だと、上の画像のような表示になります。
</p>

<%= image_tag 'howto/userpage/2.png', alt: "紹介用画像" %>

<p>
    画像や文章の投稿を行うと、上の画像のように作品の詳細ページへのサムネイルが表示されます。
    画像、文章投稿ともに最新の投稿が最大6件まで表示されます。
</p>

<hr>

<h3 id="img">画像投稿</h3>

<%= image_tag 'howto/new_img/1.png', alt: "紹介用画像" %>
<p>マイページの「画像投稿」ボタンから、新規投稿フォームへ移動します。<br>米印（※）のついたフォームは入力必須項目となっています。</p>

<%= image_tag 'howto/new_img/2.png', alt: "紹介用画像" %>
<p>「ファイルを選択」を押してアップロードしたい画像を選択し、ファイル名を確認した後、「投稿する」ボタンを押して保存します。<br>
<em>※アップロードできる画像形式はjpg、jpeg、pngのみとなっています。</em>
</p>

<p><strong>※アップロードした画像はすべてjpg形式に変換されます。</strong><br>
pngなど透過部分を含む画像の透過情報は失われますのでご注意ください。
</p>

<p>※アップできる画像は一つの投稿につき一枚のみです。<br>
複数枚投稿には対応しておりません。
</p>

<h4 id="trim">アイコン画像のトリミング</h4>
<%= image_tag 'howto/new_img/3.png', alt: "紹介用画像" %>
<%= image_tag 'howto/new_img/4.png', alt: "紹介用画像" %>
<p>「投稿する」ボタンを押すと投稿内容が保存され、次にアイコン用画像のトリミング画面に移動します。<br>
トリミングした画像はタグ一覧のサムネイル画面などで使用されます。</p>

<h4>トリミング機能を利用できない環境の場合</h4>
<p>トリミング機能はPCまたはタブレット向けの機能のため、
スマートフォンまたは特定のブラウザでは、トリミング枠を動かすことができず、正常に操作できない場合があります。<br>
その場合、<b>「トリミングをスキップする」</b>を押すと自動的にトリミングされたアイコンが生成され、保存されます。</p>

<h4>トリミング操作について</h4>

<p><em>トリミングは、PCの場合はマウスによるクリック・ドラッグ操作（タッチデバイスの場合はタッチとドラッグ操作）で行います。</em></p>

<p>トリミング処理を行う場合、画像の中の点線の枠線上の小さい四角をマウスでクリックし、ドラッグで拡大または縮小させることでトリミング範囲を変更できます。</p>
    <p>点線の枠の中央部分をクリックし、ドラッグをすることで枠ごと移動させることもできるので、切り取りたい位置に合わせて操作してください。</p>
    <p><strong>※枠のサイズを縮小しすぎると生成後の画像がぼやける場合があるのでご注意ください。</strong></p>

<p>ページ下部のプレビュー画像を確認し、トリミングする位置が決まったら、プレビューの下の<b>「アイコンを作成する」</b>ボタンを押してください。</p>

<h4 id="post_page">投稿の詳細ページ</h4>

<%= image_tag 'howto/new_img/5.png', alt: "紹介用画像" %>
<p>投稿が完了すると、その投稿の詳細ページが表示されます。<br>
このページの<b>「編集」</b>アイコンから、投稿の編集が行えます。
<b>「一覧」</b>アイコンを押すと、該当ユーザーの画像投稿の一覧ページへ移動します。
</p>

<%= image_tag 'howto/new_img/6.png', alt: "紹介用画像" %>
<p>画像部分を押すと、画像がモーダルウィンドウで拡大表示されます。<br>
モーダルを閉じるには、画像表示枠の外側の半透明のグレーの背景を押すか、
画面左下にある「×」アイコンを押してください。
</p>

<p><em>※アップロード画像は一定のサイズを超えると自動的に縮小されますので、元の画像サイズと異なる場合があります。</em></p>

<h4 id="post_edit">投稿の編集</h4>
<%= image_tag 'howto/new_img/7.png', alt: "紹介用画像" %>
<p>作品詳細ページの「編集」アイコンを押して、編集画面に移動します。<br>
編集アイコンは作品の投稿者であるログインユーザーがページを閲覧した時のみ表示されます。
</p>
<p>
    <strong>※画像投稿でアップロードした画像は変更することができません。</strong><br>
    <em>画像を差し替えたい場合、該当の投稿を削除して、新しく投稿を作成してください。</em>
</p>

<h4 id="post_nav">詳細ページのナビゲーション</h4>
<%= image_tag 'howto/new_img/8.png', alt: "紹介用画像" %>
<p>同じユーザーの他の投稿が存在する場合、前後の投稿に移動するナビゲーションが表示されます。
左側のアイコンが前の投稿、右側のアイコンが新しい投稿へのリンクとなっています。
</p>

<p>文章投稿の詳細ページでも同じようにナビゲーションが表示されますが、
<em>それぞれ同じ種類（画像なら画像投稿のみ、文章なら文章投稿のみ）の前後の投稿だけがピックアップされます。</em></p>

<h4 id="showpage_tag">投稿のタグについて</h4>
<p>投稿にタグがつけられている場合、上の画像の「サンプルタグ」のように、タグ名が表示されます。<br>
タグ名のリンクを押すと、そのタグの詳細ページに移動します。
</p>

<p>同じタグがつけられた同じ種類の投稿がある場合、上のナビゲーションと同じように前後の投稿へ移動できるアイコンが表示されます。</p>

<h4 id="post_tag">タグの設定</h4>
<%= image_tag 'howto/new_img/10.png', alt: "紹介用画像" %>
<p>新規投稿または投稿編集ページの「タグの設定」フォームを押すと、作成済みのタグが表示されますので、投稿に設定したいタグを選択し、保存してください。</p>

<p>タグはデフォルトでは未選択となっています。<br>
設定したタグの解除を行いたい場合、先頭の空白行を選択して保存してください。
文章投稿でも、同様の方法でタグの設定が行えます。</p>

<h4 id="post_destroy">投稿の削除</h4>
<%= image_tag 'howto/new_img/9.png', alt: "紹介用画像" %>
<p>
    投稿編集ページ下部の「この投稿を削除」ボタンを押して投稿を削除できます。
    文章投稿も同様の方法で削除を行います。
</p>

<hr>

<h3 id="txt">文章投稿</h3>

<%= image_tag 'howto/new_txt/1.png', alt: "紹介用画像" %>
<p>マイページの「文章投稿」ボタンから、新規投稿の作成画面へ移動します。<br>
米印（※）のついた項目は、それぞれ必須入力となっています。
</p>
<p>必要事項の入力が完了したら、「投稿する」ボタンを押して保存します。</p>

<%= image_tag 'howto/new_txt/2.png', alt: "紹介用画像" %>
<p>投稿完了後、その投稿の詳細ページが表示されます。</p>
<p>このページの<b>「編集」</b>アイコンから、投稿の編集が行えます。<br>
<b>「一覧」</b>アイコンを押すと、該当ユーザーの文章投稿の一覧ページへ移動します。
</p>

<p><em>※編集ボタンは、その投稿の作成者であるログインユーザーが、ページを閲覧した時のみ表示されます。</em></p>

<h4 id="article_edit">投稿編集・イメージ画像の設定</h4>
<%= image_tag 'howto/new_txt/3.png', alt: "紹介用画像" %>
<p>投稿詳細ページにある「編集」アイコンを押すと、投稿の編集画面が表示されます。</p>

<p><em>編集画面ではイメージ画像の設定ができますので、任意で好きな画像をアップロードできます。</em>
イメージ画像は一つの投稿につき一枚のみ設定できます。
</p>

<p><strong>※新規投稿ページではイメージ画像の設定はできませんので、編集画面から行ってください。</strong></p>

<%= image_tag 'howto/new_txt/4.png', alt: "紹介用画像" %>
<p>「ファイルを選択」を押し、アップロードしたい画像を選びます。
画像のファイル名を確認し、「投稿する」ボタンを押して保存してください。
</p>
<p><em>※アップロードできる画像の形式は画像投稿と同様に、jpg、jpeg、pngのみとなっています。</em></p>
<p>※画像は全てjpg形式に変換されます。pngなどの透過情報は失われますのでご注意ください。</p>

<%= image_tag 'howto/new_txt/5.png', alt: "紹介用画像" %>
<p>文章投稿にイメージ画像を設定すると、詳細ページのヘッダー部分がアップロードした画像に置き換えられます。
投稿一覧ページのサムネイルでも、設定した画像が使用されます。
</p>

<h4 id="photo_edit">イメージ画像の編集・削除</h4>

<%= image_tag 'howto/new_txt/6.png', alt: "紹介用画像" %>
<p>イメージ画像を設定した状態で投稿の編集画面を開くと、上の画像のようにアップロード済み画像のサムネイルが確認できます。</p>

<p>画像投稿では、アップロード画像を後から変更することはできませんが、<em>文章投稿のイメージ画像は変更が可能です。</em><br>
「ファイルを選択」フォームから差し替えたい画像を選んで、保存してください。
</p>

<p><b>画像の削除</b>（デフォルト状態に戻す）を行う場合、編集画面の画像削除用のチェックボックスにチェックを入れて、保存してください。<br>
<strong>削除ではなく画像の変更を行いたい場合は、<span>チェックは入れずに</span>「ファイルを選択」フォームから新しい画像を選んで保存します。</strong>
</p>

<h4 id="article_tag">タグの設定</h4>

<p>画像投稿と同様に、投稿編集ページからタグの設定を行います。</p>
<p>「タグの設定」フォームを押すと、作成済みのタグの一覧が表示されますので、投稿に設定したいタグを選択し、保存してください。<br>
タグはデフォルトでは未選択となっています。
設定したタグの解除を行いたい場合、先頭の空白行を選択して保存してください。</p>

<h4 id="article_destroy">投稿の削除</h4>
<p>画像投稿と同様に、編集ページ下部の「投稿を削除する」ボタンを押して投稿の削除を行います。</p>

<hr>

<h3 id="tag">タグの作成</h3>

<%= image_tag 'howto/new_tag/1.png', alt: "紹介用画像" %>
<p>マイページの<b>「タグ作成」</b>ボタンから、新規作成ページへ移動します。<br>
タグ名と、任意でタグの説明文を入力し、送信ボタンを押して保存してください。
</p>

<h4 id="tag_index">タグ一覧ページ</h4>

<%= image_tag 'howto/new_tag/2.png', alt: "紹介用画像" %>
<p>タグを作成すると、一覧ページにタグが追加されていきます。
投稿がひとつも関連付けられていない状態だと、上の画像のように表示されます。
</p>

<%= image_tag 'howto/new_tag/3.png', alt: "紹介用画像" %>
<p>投稿を関連付けると、その投稿のサムネイルが表示されます。<br>
サムネイル画像またはタイトルのリンクから、その投稿の詳細ページへ移動できます。<br>
タグ一覧画面では、画像投稿と文章投稿がそれぞれ最新5件まで表示されます。
</p>

<h4 id="tag_page">タグ詳細ページ</h4>

<%= image_tag 'howto/new_tag/4.png', alt: "紹介用画像" %>
<p>タグ一覧の<b>「詳細を見る」</b>を押すと、そのタグの詳細ページへ移動します。<br>
詳細ページではタグの説明文と、画像投稿一覧や文章投稿一覧の画面と同様の形式のサムネイルが表示されます。
</p>

<p><b>「（ユーザー名）のタグ一覧へ」</b>ボタンを押すと、そのタグを作成したユーザーのタグ一覧ページへと戻ります。</p>

<h4 id="tag_setting">タグの編集・削除</h4>

<p>タグの削除やタグの情報を編集したい場合、詳細ページの<b>「タグの編集」</b>ボタンを押して編集フォームから設定を行ってください。<br>
「タグの編集」ボタンは、そのタグの作成者であるログインユーザーが、ページを閲覧した時のみ表示されます。
</p>

<hr>

<h3 id="users_index">ユーザー一覧ページ</h3>

<%= image_tag 'howto/user_index/1.png', alt: "紹介用画像" %>

<p><em>「ユーザー一覧」ページでは、各ユーザーのプロフィール情報や、最新の投稿の一部を確認できます。</em><br>
ユーザーのヘッダー画像が未設定の場合、上の画像のようにデフォルト写真がヘッダーとして表示されます。</p>

<%= image_tag 'howto/user_index/2.png', alt: "紹介用画像" %>

<p>画像投稿か文章投稿、どちらか一つでも存在する場合、上の画像のようにサムネイルが数件表示されます。</p>
<p>画像投稿と文章投稿、どちらが表示されるかは、そのユーザーの投稿数によって変化します。<br>
現在の仕様では、画像投稿の方が多ければ画像投稿が、文章投稿の方が多ければ文章投稿が表示されます。
（この仕様は今後変更される場合があります。）</p>

<hr>

<p><em>不明点が解決しない場合、お問い合わせフォームをご利用ください。</em></p>

<%= link_to "お問い合わせフォームへ", contact_path, class: "a_main" %>

</div>