<% content_for :css do %>
<%= stylesheet_link_tag 'home' %>
<% end %>

<div class="home_main_img_area"><%= image_tag 'home/header.png', alt: "トップページヘッダー画像　創作向け投稿サービスDsplay" %></div>

<div class="center_wrapper home_center_wrapper">
    
    <h2>Dsplayについて</h2>
    <p>当サイトをご覧いただきありがとうございます。</p>
    <p><b>「Dsplay」（ディスプレイ）</b>は、個人による開発・運営を行っている創作向け投稿サービスです。<br>
    <em>画像やテキストの投稿・タグ作成など、すべての機能が無料でご利用いただけます。</em>
    </p>
    
    <p><b>イラスト、漫画、写真、小説、詩、日記、ブログ</b>など…アイデア次第でさまざまな使い方ができます。</p>
    
    <h3>Dsplayの機能紹介</h2>
<div class="home_flex_box">
    <div class="intro"><%= image_tag 'home/intro/post.png', alt: "アイコン" %><span class="intro_ttr">画像投稿</span>
    <p>お気に入りの写真やイラストを簡単にアップロード！<br>シンプルな閲覧ページが作品を一層引き立てます。</p></div>
    <div class="intro"><%= image_tag 'home/intro/article.png', alt: "アイコン" %><span class="intro_ttr">文章投稿</span>
    <p>物語や日々の何気ないことを気軽に書き残そう！<br>好きな画像を小説の挿絵として使える機能も搭載</p></div>
    <div class="intro"><%= image_tag 'home/intro/tag.png', alt: "アイコン" %><span class="intro_ttr">タグ作成</span>
    <p>自分専用のタグを作って投稿を整理！<br>カテゴリー分類やシリーズ作品の目次などにオススメ</p></div>
</div>
    
    <h3>マルチデバイス対応</h3>
    <p><em>デバイスのサイズに合わせて最適な形で作品を公開できます。</em><br>
    ご利用の際の推奨環境については<%= link_to "こちら", about_path(anchor: "system_requirements"), class: "a_txt", "aria-label" => "閲覧推奨環境の案内ページへ" %>をご覧ください。
    </p>
    
    <%= image_tag ('home/devise.png'), alt: "複数のデバイスからサイトを閲覧した際の見本画像", class: "home_img" %>
    
    <small>※画像は推奨ブラウザのデバッグツールで確認した際のものです。<br>
    非推奨または動作確認のされていないブラウザでは表示が異なる場合があります。</small>
    
    <h3>使い方</h3>
    <p>「Dsplayの使い方を詳しく知りたい」という方は、「使い方」ページをご覧ください。<br>新規登録の手順や、各種機能のご紹介を行っています。</p>
    
    <%= image_tag ('home/banner/menu.png'), alt: "Dsplayの使い方紹介ページへ", class: "home_img" %>
    
    <h3>ユーザーの投稿を見る</h3>
    
    <p>ユーザーの投稿ページから、作品がどんな風に表示されるかご確認いただけます。</p>
    
    <%= image_tag ('home/banner/menu.png'), alt: "Dsplayのユーザー投稿一覧ページへ", class: "home_img" %>
    
    <h3>Dsplayはこんな人におすすめ！</h3>
    
    <div class="recommended_voice_area">
        <div class="chat_box1">
            <span class="chat_icon"><%= image_tag ('home/face_icon/angel.jpg'), alt: "キャラクターの顔アイコン" %></span>
            <div class="chat_voice"><p>大事な作品をたくさん飾って眺めるのが好き</p></div>
        </div>
        <div class="chat_box2">
            <div class="chat_voice"><p>作品をアピールできるポートフォリオみたいなサイトを探してます</p></div>
            <span class="chat_icon"><%= image_tag ('home/face_icon/usa.jpg'), alt: "キャラクターの顔アイコン" %></span>
        </div>
        <div class="chat_box1">
            <span class="chat_icon"><%= image_tag ('home/face_icon/girl.jpg'), alt: "キャラクターの顔アイコン" %></span>
            <div class="chat_voice"><p>複数ある作品をグループ分けして、見やすいようにまとめたい</p></div>
        </div>
        <div class="chat_box2">
            <div class="chat_voice"><p>作品を公開するサイトがほしいけど、自分で作るのは大変…</p></div>
            <span class="chat_icon"><%= image_tag ('home/face_icon/alice.jpg'), alt: "キャラクターの顔アイコン" %></span>
        </div>
    </div>
    
    <p>「Dsplay」は描くことや書くこと、創作を始めとした自己表現が好きなすべての人のためのサービスです。</p>
    
    <h3>新規登録</h3>
    
    <p><em>「試しに使ってみたい」と思ったら、仮登録ページからいつでも気軽にユーザー登録ができます。</em><br>
    ご登録に必要なのはメールアドレスとパスワードだけ。<br>
    メール認証によるアカウントの有効化が完了したら、すぐに作品の投稿機能がご利用いただけます。
    </p>
    
    <%= link_to "新規アカウント作成", signup_path, class: "a_line", "aria-label" => "Dsplay新規登録ページへ" %>
    
    <% if user_signed_in? %>
    <hr>
    <% else %>
    <div class="form_wrapper">
        <h3>ログイン</h3>
        <%= render('login') %>
        <%= link_to "無料新規登録", new_user_registration_path, class: "a_main" %>
        <%= link_to "パスワードをお忘れの場合", new_user_password_path, class: "a_line" %>
    </div>
    <% end %>

</div>