<% content_for :css do %>
<%= stylesheet_link_tag 'home' %>
<% end %>

<div class="home_main_img_area"><%= image_tag 'header.png', alt: "ヘッダー画像" %></div>

<div class="center_wrapper home_center_wrapper">
    
    <h2>Dsplayについて</h2>
    <p>当サイトをご覧いただきありがとうございます。</p>
    <p><b>「Dsplay」（ディスプレイ）</b>は、個人による開発・運営を行っている創作向け投稿サービスです。<br>
    <em>画像やテキストの投稿・タグ作成など、すべての機能が無料でご利用いただけます。</em>
    </p>
    
    <p><b>イラスト、漫画、写真、小説、詩、日記、ブログ</b>など…アイデア次第でさまざまな使い方ができます。</p>
    
    <h3>Dsplayの機能紹介</h2>
<div class="home_flex_box">
    <div class="intro"><%= image_tag 'home/intro/post.png', alt: "アイコン" %><span class="intro_ttr">画像投稿</span>
    <p>お気に入りの写真やイラストを簡単にアップロード！<br>シンプルな閲覧ページが作品を一層引き立てます。</p></div>
    <div class="intro"><%= image_tag 'home/intro/article.png', alt: "アイコン" %><span class="intro_ttr">文章投稿</span>
    <p>物語や日々の何気ないことを気軽に書き残そう！<br>好きな画像を小説の挿絵として使える機能も搭載</p></div>
    <div class="intro"><%= image_tag 'home/intro/tag.png', alt: "アイコン" %><span class="intro_ttr">タグ作成</span>
    <p>自分専用のタグを作って投稿を整理！<br>カテゴリー分類やシリーズ作品の目次などにオススメ</p></div>
</div>
    
    <h3>マルチデバイス対応</h3>
    <p><em>デバイスのサイズに合わせて最適な形で作品を公開できます。</em><br>
    ご利用の際の推奨環境については<%= link_to "こちら", about_path(anchor: "system_requirements"), class: "a_txt" %>をご覧ください。
    </p>
    
    <%= image_tag ('home/devise.png'), alt: "複数のデバイスからサイトを閲覧した際の見本画像", class: "home_img" %>
    
    <small>※画像は推奨ブラウザのデバッグツールで確認した際のものです。<br>
    非推奨または動作確認のされていないブラウザでは表示が異なる場合があります。</small>
    
    <% if user_signed_in? %>
    <hr>
    <% else %>
    <div class="form_wrapper">
        <%= render('login') %>
        <%= link_to "無料新規登録", new_user_registration_path, class: "a_main" %>
        <%= link_to "パスワードをお忘れの場合", new_user_password_path, class: "a_line" %>
    </div>
    <% end %>

</div>