<% content_for :css do %>
<%= stylesheet_link_tag 'home' %>
<% end %>

<div class="home_main_img_area"><%= image_tag 'header.png', alt: "ヘッダー画像" %></div>

<div class="home_container">
    
    <h1>※本ページは現在開発中の物です。</h1>

    <h2>このサイトについて</h2>
    
<div class="home_flex_box">
    <div class="intro"><%= image_tag 'intro1.png', alt: "アイコン" %><span class="home">画像投稿</span><p>投稿機能の説明</p></div>
    <div class="intro"><%= image_tag 'intro2.png', alt: "アイコン" %><span class="home">文章投稿</span><p>投稿機能の説明</p></div>
    <div class="intro"><%= image_tag 'intro3.png', alt: "アイコン" %><span class="home">タグ作成</span><p>タグ機能の説明</p></div>
</div>

    <h2>ユーザーの投稿</h2>
    <p>ユーザーの投稿紹介</p>
    <div class="item_index-container"></div>
    
    <h2>使用例の紹介</h2>
    <p>サンプルアカウントの紹介</p>
    <div class="item_index-container"></div>
    
    <% if user_signed_in? %>
    <hr>
    <% else %>
    <div class="form_wrapper" style="width: 500px;">
        <h3>ログイン</h3>
        <%= render('login') %>
        <%= link_to "無料新規登録", new_user_registration_path, class: "a_main" %>
        <%= link_to "パスワードをお忘れの場合", new_user_password_path, class: "a_line" %>
    </div>
    <% end %>

</div>