<% content_for :css do %>
<%= stylesheet_link_tag 'form' %>
<%= javascript_include_tag "count_form", 'data-turbolinks-track': 'reload' %>
<% end %>

<%= bootstrap_form_with(model: tag, local: true, label_errors: true) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "件のエラー") %> により投稿を保存できませんでした:</h2>
      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="countable">
    <%= form.text_field :name, id: "input_text", label: "タグの名前(※)" %>
    <p><span id="counter">0文字</span> / <span id="limit" data-count="25">最大文字数</span></p>
  </div>
  
    <div class="field" id="countable">
    <%= form.text_area :caption, id: "input_text", label: "タグの説明文" %>
    <p><span id="counter">0文字</span> / <span id="limit" data-count="1000">最大文字数</span></p>
  </div>

  <div class="actions">
    <%= form.submit "送信" %>
  </div>
<% end %>
