
<h1>タグ個別ページ</h1>


  <h2><%= @tag.name %></h2>
  <% if @tag.caption.present? %>
  <p><%= @tag.caption %></p>
  <% end %>
  
   <% if @tag.posts.present? %>
  <ul class="item_index_container">
  <%= render partial: 'posts/post', collection: @tag.posts, as: "post" %>
  </ul>
  <% end %>
  <% if @tag.articles.present? %>
  <ul class="item_index_container">
  <%= render partial: 'articles/article', collection: @tag.articles, as: "article" %>
  </ul>
  <% end %>
  
  <hr>
  
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
<%= link_to 'Destroy', @tag, method: :delete, data: { confirm: 'Are you sure?' } %>
