<% content_for :css do %>
<%= stylesheet_link_tag 'index' %>
<% end %>

<div class="index_wrapper">
  <h2><%= @tag.name %></h2>
  <% if @tag.caption.present? %>
  <p><%= safe_join(@tag.caption.split("\n"),tag(:br)) %></p>
  <% end %>
  <hr>
  このタグの作成者：<%= @tag.user.prof.name %>
  <%= link_to 'Edit', edit_tag_path(@tag) %> 
  <hr>
  
   <% if @tag.posts.present? %>
  <ul class="item_index_container">
  <%= render partial: 'posts/post', collection: @tag.posts, as: "post" %>
  </ul>
  <% end %>
  
  <%= paginate @posts %>
  
  <% if @tag.articles.present? %>
  <ul class="item_index_container">
  <%= render partial: 'articles/article', collection: @tag.articles, as: "article" %>
  </ul>
  <% end %>
  
  <%= paginate @articles %>
  
</div>
  

