<% content_for :css do %>
<%= stylesheet_link_tag 'form' %>
<% end %>

<div class="form_wrapper">

<h2>パスワードの再設定</h2>
<p>以下のフォームから新しいパスワードを設定してください。</p>

<%= bootstrap_form_with(model: @user, url: user_password_path, method: :put, local: true) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <% if @minimum_password_length %>
      <em class="min">(<%= @minimum_password_length %>文字以上)</em>
    <% end %>
    <%= f.password_field :password, autofocus: true, label: "新しいパスワード" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "新しいパスワードを再入力", label: "新しいパスワードの確認" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードを設定する" %>
  </div>
<% end %>

</div>