<% content_for :css do %>
<%= stylesheet_link_tag 'form','data-turbolinks-track': 'reload' %>
<% end %>

<div class="form_wrapper">

<h2>パスワードの再設定</h2>
<p>以下のフォームから新しいパスワードを設定してください。</p>

<%= bootstrap_form_with(model: @user, url: user_password_path, method: :put, local: true, label_errors: true) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <% if @minimum_password_length %>
      <p class="min"><em>(<%= @minimum_password_length %>文字以上かつ半角英数字の大文字、小文字、記号(#?!@$%^&*)をそれぞれ1文字以上含む)</em></p>
    <% end %>
    <%= f.password_field :password, autofocus: true, label: "新しいパスワード" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "新しいパスワードを再入力", label: "新しいパスワードの確認" %>
  </div>

  <div class="actions">
    <%= f.submit "設定を保存する" %>
  </div>
<% end %>

</div>