<% content_for :css do %>
<%= stylesheet_link_tag 'form' %>
<% end %>

<div class="form_wrapper">

<h2>パスワードの再設定</h2>

      <p>
        パスワードをお忘れの場合、下記のフォームにご登録時のメールアドレスを入力してください。<br>
        パスワード再発行用のメールをお送りします。<br>
        お送りしたメール内に記載のリンクから、再設定を完了してください。
      </p>

<%= bootstrap_form_with(model: @user, url: user_password_path, method: :post, local: true, class: "new_user", id: "new_user") do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力", label: "ご登録時のメールアドレス" %>
  </div>

  <div class="actions">
    <%= f.submit "送信" %>
  </div>
<% end %>

</div>