<% content_for :css do %>
<%= stylesheet_link_tag 'form','data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "count_form", 'data-turbolinks-track': 'reload' %>
<% end %>


<%= bootstrap_form_with(model: post, local: true, label_errors: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "件のエラー") %> により投稿を保存できませんでした:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="countable">
    <%= form.text_field :title, id: "input_text", label: "タイトル(※)" %>
    <p><span id="counter">0文字</span> / <span id="limit" data-count="25">最大文字数</span></p>
  </div>
  
    <% if post.image.present? %>
    <div class="field">
    <div class="attached_img_area">
      <% if post.image_cache %>
      <%= image_tag "/#{post.image.cache_path}" %>
      <% else %>
      <%= cl_image_tag(post.image.thumb) %>
      <% end %>
    </div>
    </div>
    <% end %>
    
    <% if post.id.nil? %>
    <div class="field">
    <%= form.hidden_field :image_cache %>
    <%= form.file_field :image, label: "添付画像(※)" %>
    </div>
    <% else %>
    <%= form.hidden_field :image_cache %>
    <% end %>


  <div class="field" id="countable">
    <%= form.text_area :caption, id: "input_text", label: "説明文" %>
    <p><span id="counter">0文字</span> / <span id="limit" data-count="1000">最大文字数</span></p>
  </div>

  <div class="field">
    <p>この投稿と関連づける作成済みのタグを選んでください。<br>
    デフォルトでは未選択となっています。
    </p>
    <%= form.collection_select(:tag_id, current_user.tags, :id, :name, {:prompt => "", label: "タグの設定" }, {:size => 2}) %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>
