
<h2>画像の投稿・編集</h2>

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <% if @post.image.present? %>
    <div class="attached_img_area">
    <%=  image_tag @post.image.thumb.url, alt: "サムネイル" %>
    </div>
    <%= form.hidden_field :image_cache %>
    <% end %>

     <%= form.label :image, "添付画像を選択" %>
     <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :caption, "投稿画像の説明文" %>
    <%= form.text_area :caption %>
  </div>

  <div class="field">
    <%= form.label :tag_id, "タグの設定・変更" %>
    <p>この投稿と関連づける作成済みのタグを選んでください。<br>
    デフォルトでは未選択となっています。<br>
    すでにタグ付けがされている場合、先頭の空白行を選択することでタグの解除ができます。
    </p>
    <%= form.collection_select(:tag_id, current_user.tags, :id, :name, include_blank: true) %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>
