<div class="show_nav"><%# 前後のレコードに移動するナビゲーション %>
                
        <% if post.previous.present? %>
        <div class="show_nav_item">
        <%= link_to post_path(post.previous) do %>
        <span><% if post.previous.crop_w.nil? %>
            <%= cl_image_tag post.previous.image.safe, alt: "サムネイル" %>
            <% else %>
            <%= cl_image_tag post.previous.image.tiny, alt: "サムネイル" %>
            <% end %></span>
        <%= post.previous.title %>
        <% end %></div>
        <% end %>
        
        <% if post.next.present? %>
        <div class="show_nav_item">
        <%= link_to post_path(post.next) do %>
        <span><% if post.next.crop_w.nil? %>
            <%= cl_image_tag post.next.image.safe, alt: "サムネイル" %>
            <% else %>
            <%= cl_image_tag post.next.image.tiny, alt: "サムネイル" %>
            <% end %> </span>
        <%= post.next.title %>
        <% end %></div>
        <% end %>
                
        </div><%# show_nav %>
        
        <% if post.tag_id.present? %>
        
        <%= link_to tag_path(post.tag), class: "ttr_tag" do %>
        <%= post.tag.name %>
        <% end %>
        
        <div class="show_nav"><%# 同じタグに属する前後のレコードに移動するナビゲーション %>
                
        <% if post.prev_tag.present? %>
        <div class="show_nav_item">
        <%= link_to post_path(post.prev_tag) do %>
        <span><% if post.prev_tag.crop_w.nil? %>
            <%= cl_image_tag post.prev_tag.image.safe, alt: "サムネイル" %>
            <% else %>
            <%= cl_image_tag post.prev_tag.image.tiny, alt: "サムネイル" %>
            <% end %></span>
        <%= post.prev_tag.title %>
        <% end %></div>
        <% end %>
        
        <% if post.next_tag.present? %>
        <div class="show_nav_item">
        <%= link_to post_path(post.next_tag) do %>
        <span><% if post.next_tag.crop_w.nil? %>
            <%= cl_image_tag post.next_tag.image.safe, alt: "サムネイル" %>
            <% else %>
            <%= cl_image_tag post.next_tag.image.tiny, alt: "サムネイル" %>
            <% end %></span>
        <%= post.next_tag.title %>
        <% end %></div>
        <% end %>
        </div><%# show_nav %>
        <% end %>
           