<% content_for :css do %>
<%= stylesheet_link_tag 'crop_style' %>
<%= javascript_include_tag 'post_crop' %>
<%= javascript_include_tag 'post_crop_js' %>
<% end %>

<div class="crop_html_container">
  
     
        <h2>画像のトリミング</h2>
        
        <p>アイコン用画像を好きな位置でトリミングできます。<br>
        作成したアイコンはタグ一覧ページなどのサムネイルとして使用します。</p>
        
        <p>※PC版向けの機能のため、スマートフォンからの操作だと正常に動作しない場合があります。<br> 
        その場合、「トリミングをスキップする」を押すと自動的にリサイズしたアイコンを生成して保存します。
        </p>

        
        <%= link_to 'トリミングをスキップする', post_path(@post) %>
        
        <hr>
  
  
        <div class="croparea_box">
        <%= cl_image_tag @post.image.thumb, alt: "サムネイル", id: "cropbox" %>
        </div>
        
        <h3>Preview</h3>
        <div class="preview_box">
          <%= cl_image_tag @post.image.thumb, alt: "プレビュー画像", id: "preview" %>
        </div>
        
        <hr>
       <%= form_for(@post) do |f| %>
          <% %w[x y w h].each do |attribute| %>
            <%= f.text_field "crop_#{attribute}" %>
              <% end %>
          <div class="form-actions"><%= f.submit "アイコンを作成する" %></div>
        <% end %>
        
        

</div>

