<%= javascript_include_tag 'post_crop' %>
<%= javascript_include_tag 'post_crop_js' %>
<%= stylesheet_link_tag 'crop_style' %>

<div class="crop_html_container">
  
     
        <h3>Crop Avatar</h3>
  
  
        <div class="croparea_box">
        <%= image_tag @post.image_url(:grid_index_thumb), id: "cropbox" %>
        </div>
        <br>
       <%= form_for(@post) do |f| %>
          <% %w[x y w h].each do |attribute| %>
            <%= f.text_field "crop_#{attribute}" %>
              <% end %>
          <div class="form-actions"><%= f.submit %></div>
        <% end %>
 
        <h3>Preview</h3>
   
        <div style="width:100px; height:100px; overflow:hidden">
          <%= image_tag @post.image.url(:grid_index_thumb), id: "preview" %>
        </div>
        
        <%= link_to 'トリミングをスキップする', posts_path %>

</div>