<% content_for :title do %>
<%= @user.prof.pagetitle %>
<% end %>

<% content_for :css do %>
<%= stylesheet_link_tag 'index' %>
<% end %>

<div class="index_wrapper">

 <ul class="pan">
  <li><%= link_to me_path(@user) do %><%= @user.prof.pagetitle %><% end %></li>
  <li><%= @user.prof.name %>の画像投稿一覧</li>
 </ul>

<div class="item_index_container">
<%= render partial: 'post', collection: @posts, as: "post" %>
</div>
</div>

<%= paginate @posts %>