<p id="notice"><%= notice %></p>

<h1>Post一覧ページ</h1>

<%= link_to 'New Post', new_post_path %>
<hr>
<%= link_to 'tag一覧へ', tags_path %><br>
<%= link_to 'article一覧へ', articles_path %>
<hr>


<%= render partial: 'post', collection: @posts, as: "post" %>