<% content_for :title do %>
<%= @post.title %>
<% end %>
  
  <% content_for :css do %>
  <%= stylesheet_link_tag 'show_post' %>
  <%= javascript_include_tag 'zoom_img', 'data-turbolinks-track': 'reload' %>
  <% end %>

    <div class="post_container">
        
     <div class="main_img_area">
      <%= cl_image_tag @post.image, alt: "添付画像" %>
        </div>
        
        <div class="post_data">
            <span class="title"><%= @post.title %></span>
            <% if @post.caption.present? %>
            <p class="caption"><%= safe_join(@post.caption.split("\n"),tag(:br)) %></p>
            <% end %>
            <time><%= @post.created_at.strftime("%Y-%m-%d") %></time>
        </div>

<div class="show_user_nav">
         <div class="show_avator">
             <% if @post.user.prof.avator.present? %>
             <%= link_to me_path(@post.user_id) do %>
             <%= cl_image_tag @post.user.prof.avator, alt: "ユーザーアイコン" %>
             <% end %>
             <% else %>
             <%= link_to me_path(@post.user_id) do %>
             <%= image_tag ('sign.png'), alt: "ユーザーアイコン" %>
             <% end %>
             <% end %>
             </div>
         <%= link_to "#{@post.user.prof.pagetitle}", me_path(@post.user_id), class: "pagetitle" %>
        <span class="username"><%= @post.user.prof.name %></span>
            <div class="link_box">
            <%= link_to "一覧", her_posts_path(@post.user.id), class: "index" %>
            <% if user_signed_in? && current_user.id == @post.user_id %>
            <%= link_to "編集", edit_post_path(@post), class: "edit" %>
            <% end %>
            </div>
    </div>
        <%= render partial: 'show_nav', locals: { post: @post } %>
    </div>
    
  