  <%= stylesheet_link_tag 'show_post' %>
    <%= javascript_include_tag 'zoom_img' %>

    <div class="post_container">
        
     <div class="main_img_area">
      <%= image_tag @post.image.url %>
        </div>
        
        <div class="post_data">
            <h1><%= @post.title %></h1>
            <p><%= safe_join(@post.caption.split("\n"),tag(:br)) %></p>
            <p>ユーザー名：<%= @post.user.prof.name %></p>
            <time><%= @post.created_at.strftime("%Y-%m-%d") %></time>
            <hr>
            <p>トリミング後（tags/index）</p>
            <%=  image_tag @post.image.tiny.url %>
            <hr>
            <%= link_to 'Edit', edit_post_path(@post) %> <br>
           <%= link_to 'Back', posts_path %><br>
           <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        
    </div>
    
  