<% content_for :css do %>
<%= javascript_include_tag "count_form" %>
<%= stylesheet_link_tag 'form' %>
<% end %>


<%= bootstrap_form_with(model: prof, local: true, label_errors: true) do |f| %>

  <% if prof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prof.errors.count, "件のエラー") %> により投稿を保存できませんでした:</h2>
      <ul>
      <% prof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field" id="countable">
<%= f.text_field :name, id: "input_text", label: "ユーザー名(必須)" %>
<p><span id="counter">0文字</span> / <span id="limit" data-count="15">最大文字数</span></p>
</div>
<div class="field" id="countable">
<%= f.text_field :pagetitle, id: "input_text", placeholder: "MyPage", label: "ユーザーページタイトル(必須)" %>
<p><span id="counter">0文字</span> / <span id="limit" data-count="35">最大文字数</span></p>
</div>
<div class="field" id="countable">
<%= f.text_area :profile, id: "input_text", label: "プロフィール文(必須)" %>
<p><span id="counter">0文字</span> / <span id="limit" data-count="500">最大文字数</span></p>
</div>

<% if prof.avator.present? %>
    <div class="field">
    <div class="attached_img_area"><%=  image_tag prof.avator.url, alt: "アイコン画像" %></div>
    <div class="remove_checkbox"><%= f.check_box :remove_avator, label: "アイコン画像を削除" %></div>
    </div>
<% end %>
    <div class="field">
    <%= f.hidden_field :avator_cache %>
    <%= f.file_field :avator, label: "ユーザーアイコン" %>
    </div>

<% if prof.headerimage.present? %>
  <div class="field">
    <div class="attached_img_area"><%= image_tag prof.headerimage.url, alt: "サムネイル" %></div>
    <div class="remove_checkbox"><%= f.check_box :remove_headerimage, label: "ヘッダー画像を削除" %></div>
    </div>
    <% end %>
    <div class="field">
    <%= f.hidden_field :headerimage_cache %>
    <%= f.file_field :headerimage, label: "ヘッダー画像" %>
    </div>

<div class="actions">
<%= f.submit "変更を保存する" %>
</div>
<% end %>
