<% content_for :css do %>
<%= javascript_include_tag "count_form" %>
<% end %>


<%= form_with model: prof, local: true do |f| %>

  <% if prof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prof.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% prof.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field" id="countable">
<%= f.label :name,"ユーザー名" %>
<%= f.text_field :name, id: "input_text" %>
<p><span id="counter">0文字</span> / <span id="limit" data-count="10">最大文字数</span></p>
</div>
<div class="field" id="countable">
<%= f.label :pagetitle ,"ユーザーページタイトル" %>
<%= f.text_field :pagetitle, id: "input_text", placeholder: "MyPage" %>
<p><span id="counter">0文字</span> / <span id="limit" data-count="30">最大文字数</span></p>
</div>
<div class="field" id="countable">
<%= f.label :profile ,"プロフィール文" %>
<%= f.text_area :profile, id: "input_text" %>
<p><span id="counter">0文字</span> / <span id="limit" data-count="500">最大文字数</span></p>
</div>

  <div class="field">
    <% if prof.avator.present? %>
    <div class="attached_img_area">
    <%=  image_tag prof.avator.url, alt: "アイコン画像" %>
    </div>
    <label><%= f.check_box :remove_avator %>アイコン画像を削除する</label>
    <% end %>
    <%= f.hidden_field :avator_cache %>
    
<%= f.label :avator,"ユーザーアイコン画像" %>
<%= f.file_field :avator %>
   </div>

  <div class="field">
    <% if prof.headerimage.present? %>
    <div class="attached_img_area">
    <%= image_tag prof.headerimage.url, alt: "ヘッダー画像サムネイル" %>
    </div>
    <label><%= f.check_box :remove_headerimage %>ヘッダー画像を削除する</label>
    <% end %>
    <%= f.hidden_field :headerimage_cache %>

<%= f.label :headerimage,"ヘッダー画像" %>
<%= f.file_field :headerimage %>
   </div>


<%= f.submit "変更を保存する" %>
<% end %>