<footer>
    
    <div class="footer_flexbox">
    <div class="footer_i">
        <ul>
            <li><%= link_to "このサイトについて", about_path %></li>
            <li><%= link_to "使い方", howto_path %></li>
            <li><%= link_to "ガイドライン", guide_path %></li>
            <li><%= link_to "ユーザー投稿一覧", users_path %></li>
        </ul>
    </div>
    <div class="footer_i">
        <ul>
            <li><%= link_to "ご利用規約", terms_path %></li>
            <li><%= link_to "プライバシーポリシー", privacy_path %></li>
            <li><%= link_to "運営ブログ", "https://dsplay.icu/", target: :_blank, rel: "noopener noreferrer" %></li>
            <li><%= link_to "お問い合わせ", contact_path %></li>
        </ul>
    </div>
    <div class="footer_i">
        <%= link_to root_path, "aria-label" => "Dsplayトップページへ", class: "footer_img_a" do %><%= image_tag 'footer_logo_w.png', alt: "Dsplay（ディスプレイ）", class: "footer_logo" %><% end %>
    </div>
    </div>
    
    <div class="c">
        <p><i class="fas fa-copyright"></i> 2021 Dsplay</p>
    </div>
    
</footer>