<!DOCTYPE html>
<html>
  <head>
    <title>Dsplay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
      <header>
        <div class="left"><h1><a href="#">site name</a></h1></div>
        <div class="right">
            <span>ログインユーザー名</span>
            <div class="nav_avator">
            </div>
        </div>
      <div class="flash">
    　<p class="notice"><%= notice %></p>
   　　<p class="alert"><%= alert %></p>
      </div>
      </header>
    
    <main>
    <%= yield %>
    </main>
    
  </body>
</html>
