<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Dsplay" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta content="utf-8" name="charset">
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
  </head>

  <body>
      
      <header>
        <div class="left"><h1><%= link_to root_path, "aria-label" => "Dsplayトップページへ" do %><%= image_tag 'app_logo.png', alt: "Dsplay" %><% end %></h1></div>
        <div class="right">
          <% if user_signed_in? %>
          <div class="first">
            <%= link_to me_path(current_user), "aria-label" => "#{current_user.prof.name}のユーザーページへ" do %>
            <span class="name"><%= current_user.prof.name %></span>
            <span class="nav_avator">
              <% if current_user.prof.avator.present? %>
              <%= cl_image_tag current_user.prof.avator, alt: "ユーザーアイコン" %>
              <% else %>
              <%= image_tag ("witch.jpg"), alt: "ユーザーアイコン" %>
              <% end %>
              </span>
            <% end %></div>
          <div><%= link_to users_mypage_path, "aria-label" => "マイページ" do %><i class="fas fa-home"></i><% end %></div>
          <% else %>
          <div><%= link_to "ログイン", login_path, class: "header_a a_button" %></div>
          <% end %>
        </div>
      </header>
    
    <main>
    <% flash.each do |key, value| %>
    <%= content_tag :div, class: "flash_box" do %><%= content_tag :p, value, class: key %><% end %>
    <% end %>
    <%= yield %>
    </main>
    
    <%= render ('layouts/footer') %>
    
  </body>
</html>
