<!DOCTYPE html>
<html>
  <head>
    <title>Dsplay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
      <header>
        <div class="left"><h1><%= link_to "Dsplay", home_path %></h1></div>
        <div class="right">
          <% if user_signed_in? %>
          <div><%= link_to me_path(current_user) do %><%= current_user.prof.name %><span class="nav_avator"><%= image_tag current_user.prof.avator.url, alt: "ユーザーアイコン" if current_user.prof.avator.present? %></span><% end %></div>
          <div><%= link_to users_mypage_path do %><i class="fas fa-home"></i><% end %></div>
             <% end %>
        </div>
       
      </header>
    
    <main>
      <p class="notice"><%= notice %></p>
   　　<p class="alert"><%= alert %></p>
    <%= yield %>
    </main>
    
  </body>
</html>
