<% content_for :css do %>
<%= stylesheet_link_tag 'form' %>
<% end %>

<div class="form_wrapper">

<h2>新規ユーザー登録</h2>

<p>フォームに必要事項をご入力の上、アカウント作成ボタンを押してください。<br>
ご入力いただいたメールアドレスあてに、ご本人様確認のメールが送信されます。<br>
メールに記載のリンクから、アカウントの有効化（本登録）を完了してください。<br><br>
※有効化をするまでは仮登録状態となり、ログインすることができません。</p>

<h3>メールが届かない場合</h3>
<p>迷惑メールとして振り分けられている可能性があるため、<br>
ご利用のメールサービスの該当フォルダ等をご確認いただきますようお願いします。
</p>

<%= bootstrap_form_with(model: @user, url: user_registration_path, method: :post, local: true, class: "new_user", id: "new_user") do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", label: "メールアドレス" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em class="min">(<%= @minimum_password_length %>文字以上)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", label: "パスワード" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを再入力", label: "パスワード確認" %>
  </div>
  
   <%= f.fields_for :prof do |attributes| %>
      <%= attributes.hidden_field :name %>
      <%= attributes.hidden_field :pagetitle %>
      <%= attributes.hidden_field :profile %>
  <% end %>

  <div class="actions">
    <%= f.submit "アカウント作成（仮登録）" %>
  </div>
<% end %>

</div>